
OAuthExampleCalls/__pycache__/variables.cpython-39.pyc
OAuthExampleCalls/.idea/vcs.xml
OAuthExampleCalls/.idea/OAuthExampleCalls.iml
OAuthExampleCalls/.idea/modules.xml
OAuthExampleCalls/.idea/misc.xml
OAuthExampleCalls/.idea/inspectionProfiles/profiles_settings.xml
